.container {
    padding: 40px 20px 60px;
    background: #000;
}

.content {
    position: relative;
    padding-top: 60px;

    & > h1 {
        font-size: 44px;
        color: #fff;
        margin: 20px 0 40px 0;
    }

    & .gridInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;

        & p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }

        & .imageContainer {
            position: relative;
            height: 500px;
    
            & img {
                object-fit: cover;
                // object-position: -70px center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding-top: 70px;
        
        .gridInfo {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            & .imageContainer {
                position: relative;
                width: 200px;
                height: 200px;
                margin: 0 auto 20px;
                border: 1px solid #000;
                border-radius: 50%;
                overflow: hidden;
        
                & img {
                    object-fit: cover;
                    object-position: center center;
                    scale: 1.4;
                }
            }
        }
    }   
}