:root {
    --background-primary: #FBFBFB;
    --text-primary: #1A1A1D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,
body {
    background: var(--background-primary);
}

a {
    color: var(--text-primary);
}
