* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html {
    background: #000;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #fff;
}