.container {
    background: #000;
};

.content {
    position: relative;
    margin: auto;
    width: 80%;
    height: 650px;
}

.background {
    position: relative;
    height: 100%;
    overflow: hidden;

    & > img {
        object-fit: cover;
        object-position: center 120px;
        transform: scale(1.5, 1.5);
        opacity: 0;
        animation: fadeIn 2s ease-in 0.5s forwards, fadeOut 2s ease-in 3.5s forwards;
    }    
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    transform: translate(0, -40px);
    opacity: 0;
    animation: fadeIn 2s ease-in 2s forwards;

    & > p {
        font-size: 60px;
    }

    & > p + p {
        font-size: 22px;
        letter-spacing: 12px;
    }
}

.info {
    position: absolute;
    top: calc(50% + 100px);
    left: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in 3.5s forwards;

    & > p {
        text-align: justify;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #fff;
        margin-bottom: 10px;
    }
}

.contactSection {
    display: flex;
    justify-content: flex-end;
}

.contact {
    margin-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
    }

    .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .background {
        height: 650px;
    }

    .title {
        padding: 0 20px;
        top: 364px;

        & > p {
            font-size: 40px;
        }

        & > p + p {
            font-size: 16px;
            letter-spacing: 8px;
        }
    }

    .info {
        top: 414px;
        padding: 0 20px;

        & > p {
            font-size: 16px;
        }
    }
}