.container {
    height: 60px;
    background: #000;
}

.navList {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 20px;
    padding: 20px 40px;
    
    & > a {
        font-size: 18px;
        font-weight: 200;
        color: #fff;
    }
}