.container {
    display: flex;
    justify-content: space-between;
    height: 72px;
    background: var(--background-primary);
    padding: 0 30px 0 40px;
}

.logo {
    margin-left: 8px;
    display: flex;
    align-items: center;

    & > a {
        display: flex;
        align-items: center;
        gap: 4px;

        text-decoration: none;
    }

    & > a > span {
        font-size: 21px;
        font-weight: 200;
        color: var(--text-primary);
    }
}

.navList {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 8px;
    
    & > a {
        font-size: 21px;
        font-weight: 200;
        color: var(--text-primary);
        text-decoration: none;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        height: 60px;
    }

    .logo {

        & > a {
            display: flex;
            align-items: center;
            gap: 4px;

            text-decoration: none;
        }

        & > a > span {
            font-size: 21px;
            font-weight: 200;
            color: var(--text-primary);
        }

        & > a > img {
            width: 44px;
            height: 44px;
        }
    }

    .navList {
        
        & > a {
            font-size: 21px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
}
