.container {
    padding: 40px 40px 60px 40px;
    background: #000;
}

.content {
    position: relative;
    padding-top: 60px;

    & > h1 {
        font-size: 44px;
        color: #fff;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    &Details {
        & > h1 {
            margin: 20px 20px 40px;
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            margin: 0 20px;
        }

        & .videoContainer {
            width: 1000px;
            height: 562.5px;
            display: flex;
            margin: 0 auto;
        }
    }
}

.performanceList {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.performanceItem {
    display: flex;
    flex-direction: row;
    gap: 40px;

    & > a {
        display: none;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &Image {
        position: relative;
        width: 50%;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        width: 50%;
        height: 500px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 32px;
            line-height: 125%;

            & > a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;
                }
            }
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }
    }
}

.performanceItemVertical {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &Image {
        position: relative;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 32px;
            line-height: 125%;

            & > a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;
                }
            }
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }
    }
}

.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;

    & .imageContainer {
        position: relative;
        width: 100%;
        height: 400px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }
}

.viewMoreButton {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #222;
    border-radius: 2px;
    background: #222;
    font-size: 14px;
    color: #fff;

    &.large {
        margin-top: 10px;
        padding: 4px 80px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 60px 20px 20px 20px;
    }

    .content {
        &Details {
            & > p {
                margin: 0;
            }

            & .videoContainer {
                width: 300px;
                height: 220px;
            }
        }
    }

    .performanceItem {
        flex-direction: column-reverse;
        gap: 20px;

        & > a {
            display: block;
            margin-top: 10px;
        }
        
        &.reverse {
            flex-direction: column-reverse;
        }

        &Image {
            width: 100%;
            height: 220px;
        }

        &Content {
            width: 100%;
            height: auto;
            padding: 0;

            & > a {
                display: none;
            }
        }
    }

    .viewMoreButton {
        padding: 4px 80px;
    }

    .imageGallery {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 4px;
        background: #111;

        & .imageContainer {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .performanceItemVertical {
        &Image {
            height: 220px;
        }

        &Content {
            padding: 0;
        }
    }
}
