.container {
    padding: 40px 40px 60px 40px;
    background: #000;
}

.content {
    position: relative;
    padding-top: 60px;

    & > h1 {
        font-size: 44px;
        color: #fff;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    &Details {
        & > h1 {
            margin: 20px 20px 40px;
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            margin: 0 20px;
        }

        & .videoContainer {
            width: 1000px;
            height: 562.5px;
            display: flex;
            margin: 0 auto;
        }
    }
}

.performanceList {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.performanceItem {
    display: flex;
    flex-direction: row;
    gap: 40px;

    &Image {
        position: relative;
        width: 50%;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        width: 50%;
        height: 500px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 32px;
            line-height: 125%;

            & > a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;
                    
                    // Save for later use
                    // &::after {
                    //     content: ' ';
                    //     display: inline-block;
                    //     width: 24px;
                    //     height: 18px;
                    //     background: url("/icons/ic_arrow_forward.svg") no-repeat;
                    //     background-size: cover;
                    //     background-position: center center;
                    //     margin-left: 8px;
                    // }
                }
            }
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }
    }
}

.performanceItemVertical {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &Image {
        position: relative;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 32px;
            line-height: 125%;

            & > a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;
                    
                    // Save for later use
                    // &::after {
                    //     content: ' ';
                    //     display: inline-block;
                    //     width: 24px;
                    //     height: 18px;
                    //     background: url("/icons/ic_arrow_forward.svg") no-repeat;
                    //     background-size: cover;
                    //     background-position: center center;
                    //     margin-left: 8px;
                    // }
                }
            }
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }
    }
}

.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    justify-items: center;

    & .imageContainer {
        position: relative;
        width: 500px;
        height: 400px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }
}

.viewMoreButton {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #222;
    border-radius: 2px;
    background: #222;
    font-size: 14px;
    color: #fff;

    &.large {
        margin-top: 10px;
        padding: 4px 80px;
    }
}

.videoSlider {
    display: flex;
    align-items: center;

    &Content {
        display: flex;
        width: 1000px;
        overflow: hidden;
        margin: 0 auto;
    }

    &Button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid #333;
        border-radius: 24px;
        background: #333;

        &:active {
            background: #666;
        }
    }
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 4px;
    width: 20px;
    margin: 0 2px;
    background-color: #666;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.6s ease;

    &.active {
        background-color: #fff;
    }
}