.container {
    padding: 40px 40px 60px 40px;
    background: #000;
}

.content {
    position: relative;
}

.workList {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &Item {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border: 1px solid #333;
        border-radius: 4px;
        cursor: pointer;

        &Image {
            position: relative;
            width: 100%;
            height: 100%;

            & > img {
                object-fit: cover;
                object-position: center center;
                opacity: 0.5;
            }
        }

        & > p {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            color: #fff;
            text-shadow: 1px 1px #000;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .workList {
        gap: 30px;

        &Item {
            height: 220px;

            & > p {
                font-size: 22px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .workList {
        
        &Item {
            &:hover {
                & .workListItemImage > img {
                    transition: scale 0.1s ease-out;
                    scale: 1.1;
                }
            }
        }
    }
}